*sysgen*.log
*.autosave

# Ignore everything in black box cores/
*_core/*
# But unignore the netlist file
!*_core/*_core.ngc

# Ignore everything in sma_corr, then unignore sma_corr/bit_files so
# we can ignore everything in there except for *.bof files.
sma_corr/*
!sma_corr/bit_files
sma_corr/bit_files/*
!sma_corr/bit_files/*.bof
!sma_corr/bit_files/*.bof.gz
!sma_corr/pblocks
