#### FFT 0 pblock
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/cgain_0_*/*"         AREA_GROUP = "fft_0_pb";
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/fengine_0_*/fir_0/*" AREA_GROUP = "fft_0_pb";
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/fengine_0_*/fft_0/*" AREA_GROUP = "fft_0_pb";
AREA_GROUP "fft_0_pb" RANGE=DSP48_X0Y104:DSP48_X13Y141;
AREA_GROUP "fft_0_pb" RANGE=RAMB18_X0Y104:RAMB18_X14Y141;
AREA_GROUP "fft_0_pb" RANGE=RAMB36_X0Y52:RAMB36_X14Y70;

#### FFT 1 pblock
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/cgain_1_*/*"         AREA_GROUP = "fft_1_pb";
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/fengine_1_*/fir_1/*" AREA_GROUP = "fft_1_pb";
INST "sma_corr_xsg_core_config/sma_corr_xsg_core_config/sma_corr_x0/fengine_1_*/fft_1/*" AREA_GROUP = "fft_1_pb";
AREA_GROUP "fft_1_pb" RANGE=DSP48_X0Y8:DSP48_X13Y51;
AREA_GROUP "fft_1_pb" RANGE=RAMB18_X0Y51:RAMB18_X14Y8;
AREA_GROUP "fft_1_pb" RANGE=RAMB36_X0Y25:RAMB36_X14Y4;
