#### QDR2 controller pblock
INST "qdr2_controller" AREA_GROUP = "qdr2_pb";
AREA_GROUP "qdr2_pb" RANGE=SLICE_X0Y128:SLICE_X115Y163;
AREA_GROUP "qdr2_pb" RANGE=DSP48_X0Y52:DSP48_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB18_X0Y52:RAMB18_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB36_X0Y26:RAMB36_X6Y31;
