#### QDR0 controller pblock
INST "qdr0_controller" AREA_GROUP = "qdr0_pb";
AREA_GROUP "qdr0_pb" RANGE=SLICE_X104Y326:SLICE_X131Y198;
AREA_GROUP "qdr0_pb" RANGE=DSP48_X7Y80:DSP48_X7Y129;
AREA_GROUP "qdr0_pb" RANGE=RAMB18_X7Y80:RAMB18_X7Y129;
AREA_GROUP "qdr0_pb" RANGE=RAMB36_X7Y40:RAMB36_X7Y64;

#### QDR1 controller pblock
INST "qdr1_controller" AREA_GROUP = "qdr1_pb";
AREA_GROUP "qdr1_pb" RANGE=SLICE_X50Y328:SLICE_X157Y358;
AREA_GROUP "qdr1_pb" RANGE=DSP48_X4Y132:DSP48_X9Y141;
AREA_GROUP "qdr1_pb" RANGE=RAMB18_X4Y132:RAMB18_X10Y141;
AREA_GROUP "qdr1_pb" RANGE=RAMB36_X4Y66:RAMB36_X10Y70;

#### QDR2 controller pblock
INST "qdr2_controller" AREA_GROUP = "qdr2_pb";
AREA_GROUP "qdr2_pb" RANGE=SLICE_X0Y128:SLICE_X115Y163;
AREA_GROUP "qdr2_pb" RANGE=DSP48_X0Y52:DSP48_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB18_X0Y52:RAMB18_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB36_X0Y26:RAMB36_X6Y31;

#### QDR3 controller pblock
INST "qdr3_controller" AREA_GROUP = "qdr3_pb";
AREA_GROUP "qdr3_pb" RANGE=SLICE_X110Y50:SLICE_X137Y167;
AREA_GROUP "qdr3_pb" RANGE=DSP48_X7Y20:DSP48_X8Y65;
AREA_GROUP "qdr3_pb" RANGE=RAMB18_X7Y20:RAMB18_X8Y65;
AREA_GROUP "qdr3_pb" RANGE=RAMB36_X7Y10:RAMB36_X8Y32;
