#### QDR1 controller pblock
INST "qdr1_controller" AREA_GROUP = "qdr1_pb";
AREA_GROUP "qdr1_pb" RANGE=SLICE_X50Y260:SLICE_X157Y290;
AREA_GROUP "qdr1_pb" RANGE=DSP48_X4Y104:DSP48_X9Y115;
AREA_GROUP "qdr1_pb" RANGE=RAMB18_X4Y104:RAMB18_X10Y115;
AREA_GROUP "qdr1_pb" RANGE=RAMB36_X4Y52:RAMB36_X10Y57;

#### QDR2 controller pblock
INST "qdr2_controller" AREA_GROUP = "qdr2_pb";
AREA_GROUP "qdr2_pb" RANGE=SLICE_X0Y128:SLICE_X115Y163;
AREA_GROUP "qdr2_pb" RANGE=DSP48_X0Y52:DSP48_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB18_X0Y52:RAMB18_X6Y63;
AREA_GROUP "qdr2_pb" RANGE=RAMB36_X0Y26:RAMB36_X6Y31;
